ion-slides {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.featured-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

ion-content {
  --padding-top: 0px;
}

.sticky-row {
  position: sticky;
  top: calc(env(safe-area-inset-top) - 3px);
  z-index: 2;
  background: #fff;
  box-shadow: 0px 9px 11px -15px rgba(0, 0, 0, 0.75);
}

.info-row {
  background: #fff;
  position: sticky;
  top: calc(env(safe-area-inset-top) - 40px);
  z-index: 2;
}

ion-refresher {
  padding-top: calc(env(safe-area-inset-top) + 50px);
}

ion-searchbar {
  --icon-color: var(--ion-color-medium);
}

.location-visible {
  opacity: 1;
  transition: .5s;
}
 
.location-hidden {
  opacity: 0;
  transition: .5s;
}

.header-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
}

.header-img-container {
  position: relative;
  margin: 0 4% 0 4%;
}

.logo-container {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 120px;
  height: 120px;
}

.logo {
  background-image: url("../../assets/images/logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

@media (min-width: 600px) {
.logo-container {
  position: absolute;
  left: 20px;
  bottom: -30px;
  width: 170px;
  height: 170px;
  }
}

.affiliate-name {
  position: absolute; 
  left: 140px;
  bottom: -50;
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .affiliate-name {
    position: absolute; 
    left: 210px;
    bottom: -50;
    font-size: 1.5rem;
  }
}

/*ion-menu-button span.button-inner {
  justify-content: flex-start !important;
}

span.button-inner ion-icon {
  height: 1.6em !important;
}*/